**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
**/.zip
dockerfile
README.md
docker-compose.yml
**/.DS_Store
**/venv
**/env
test.app
.vscode
/tools
/build
/test
/images
/.github
/homeassistant/*.png
/homeassistant/*.md
.dockerignore
.python-version
**/test
**/images
/logs/*.log
build.sh
make_req.sh
./repository.yaml
