**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
**/.zip
Dockerfile
README.md
docker-compose.yml
**/.DS_Store
**/venv
**/env
test.app
.vscode
/tools
/build
/logs
.dockerignore
.python-version
**/test
**/images
build.sh
make_req.sh

